body {
    font-family: Arial, sans-serif;
    background-color: #F0F8FF; /* Azul clarinho */
    text-align: center;
}

h1, h2 {
    color: #333;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
}

button {
    background-color: #228B22; /* Verde escuro */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#carrinho {
    margin-top: 20px;
}

@media (max-width: 768px) {
    footer nav {
        flex-direction: column; /* Alinha os links em coluna para telas menores */
    }
}

footer nav {
    display: flex;
    justify-content: center; /* Centraliza os links horizontalmente */
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Transforma a lista em um flex container */
}

footer nav li {
    margin: 0 10px; /* Adiciona um espaçamento entre os links */
}

footer nav a {
    text-decoration: none;
    color: #333; /* Cor dos links */
}